<form asp-controller="User" asp-action="ImportUsers" method="post" enctype="multipart/form-data">

    <div class="bg-info text-white p-5">
        <h1>Import Users</h1>
    </div>
    @if (ViewData["Success"] != null)
    {
        <div><p class="text-success">@ViewData["Success"]</p></div>
    }
    else if(ViewData["Error"]!=null)
    {
        foreach (var error in (List<string>)ViewData["Error"])
        {
            <div><p class="text-danger">@error</p></div>
        }
    }
    <div class="p-3">
        Import users by uploading an excel document.
    </div>
    <div class="form-group w-25">
        <label>Import excel file:</label>
        <input type="file" name="file" class="form-control" />
    </div>

    <hr />

    <button type="submit" class="btn btn-success">Import Excel</button>

</form>