@{
    ViewData["Title"] = "Ticket Shop";
}

<div class="bg-dark text-white text-center p-5">
    <h1>Buy tickets for your favorite movies!</h1>
</div>
<div class="p-5 text-center">
    <img src='https://image.freepik.com/free-vector/cinema-tickets-isolated-white-background-realistic-front-view-movie-banner-cinema-movie-tickets-set_100456-475.jpg' alt="Ticket" />
</div>
